@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-center dark:animate-[bganimation_50s_infinite] bg-slate-300 dark:bg-secondary font-serif bg-fixed justify-center bg-300 text-aliceblue
    ;
  }
  li {
    @apply text-2xl list-none;
  }
}

@layer components {
  .players {
    @apply text-center rounded mt-[-60px];
  }
  .players span {
    @apply 2xl:pr-5 xl:pr-5 lg:pr-1 md:pr-0 sm:pr-0  ;
  }
  .players li.active {
    @apply p-1.5 2xl:pl-9 xl:pl-9 lg:pl-9 sm:px-1 dark:shadow-pink-400 shadow-amber-700 shadow-lg pr-5 text-yellow-200 border-2 dark:border-pink-400 dark:border-b-gray-300 border-white;
  }
  .players li {
    @apply dark:bg-violet-900 bg-amber-500 shadow-slate-500 shadow-lg p-1 2xl:pl-9 xl:pl-9 lg:pl-9 sm:px-1 md:pl-9 pr-5 border-2 dark:border-b-zinc-700 border-white;
  }
  .players button {
    @apply text-white;
  }
  input[type="text"] {
    @apply bg-transparent text-white 2xl:w-[148px] xl:w-[148px] lg:w-[148px] md:w-[100px] md:ml-[-10px] sm:ml-[-70px] ;
  }
  input[type="text"]:focus {
    @apply bg-transparent;
  }
  .players button:hover {
    @apply text-yellow-200;
  }

  .go li {
    @apply m-10 font-bold text-[35px] shadow-2xl text-shadow-[3]
     dark:text-shadow-blue-500 text-shadow-amber-400;
  }
  .goo {
    @apply text-xl font-bold text-shadow-[3]
     dark:text-shadow-cyan-400 text-shadow-amber-400;
  }
}
